<div id="<%= dom_id anime %>">
  <p>
    <strong>Mal:</strong>
    <%= anime.mal_id %>
  </p>

  <p>
    <strong>Title eng:</strong>
    <%= anime.title_eng %>
  </p>

  <p>
    <strong>Title jap:</strong>
    <%= anime.title_jap %>
  </p>

  <p>
    <strong>Episodes:</strong>
    <%= anime.episodes %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= anime.year %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= anime.image %>
  </p>

  <p>
    <strong>Trailer:</strong>
    <%= anime.trailer %>
  </p>

</div>
